/* Hannah Riedman 11-19-15 Project 5 120L-115 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color:#d2eaec
}

h1 {
    color:#035a6c;
    text-align: center;
}

aside, main {
    display: inline-block;
    vertical-align: top;
    padding: 0 1%;
}

main {
    width: 60%;
}

aside {
    width: 16%;
}

header, footer {
    font-style: italic;
    padding: 1em;
}


#scene {
    padding: 1em;
}

#scene, #info{
    height: 10em;
    border-radius: 1em;
    color:#035a6c; 
    border-style: groove;
}

#previous {
    height: 1em;
    border-width:medium;
    background-color:#dbbcac;
    border-color:#bd8f77;
    border-style:groove;
    border-radius:5px; 
    color:#035a6c;
}


#inventory, #currentP{
    background-color:#8fccd0;
    height: 6em;
    border-width: thick;
    border-color:#035A6C;
    border-style:groove;
    border-radius:5px;
}

#scene {
    background-color:#f6e3d2;
    border: 1px;
    border-color: #a99090;
    height: 9em;
    
}
#info {
    background-color: #8fccd0;
    border-color:#035A6C;
}

#controls {
    margin-top: 1em;
}

#command {
    width: 16ex;
}

